* {
  margin: 0;
  padding: 0;
}
:root {
  --backgroundColor: #000033;
  --tittleColor: #ff9933;
  --strongColor: #33cccc;
  --fontColor: #ffffff;
}
h1 {
  font-family: "Nunito Sans", sans-serif;
  color: var(--tittleColor);
}
h3,
h4 {
  position: relative;
  display: inline-block;
  font-family: "PT Sans", sans-serif;
  color: var(--tittleColor);
}
h3 {
  font-size: 2rem;
}
h2 {
  position: relative;
  font-size: 2.25rem;
  display: inline-block;
  margin-bottom: 1.25rem;
  font-family: "PT Sans", sans-serif;
  color: var(--tittleColor);
}


h2::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background: linear-gradient(
    to right,
    rgba(51, 204, 204, 0) 0%,
    rgba(51, 204, 204, 1) 50%,
    rgba(51, 204, 204, 0) 100%
  );
  bottom: -4px;
  left: 0;
  z-index: -1;
}

p {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 300;
  font-size: 1.125rem;
  color: var(--fontColor);
}
a {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 500;
  font-size: 1.125rem;
  color: var(--strongColor);
  text-decoration: none;
}
strong {
  color: var(--strongColor);
}
a:hover {
  color: var(--tittleColor);
  transition: 0.5s;
}

header {
  position: relative;
  z-index: 1;
  background-color: var(--backgroundColor);
  align-content: center;
  padding-top: 0;
  height: auto;
}
nav {
  position: fixed;
  background-color: #0d0d47;
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  gap: 0;
  padding-top:0;
  text-align: center;
  justify-content: center;
  width: 100%;
}
nav > div:first-child{
  display: block;
  width: 27%;
  order: 1;
}
nav > div:first-child img {
  width: 115px;
  object-fit: cover;
}

.dropbtn {
  display: block;
  margin-left: 1rem;
  background-color: #0d0d47;
  background-image: url(imgs/hamburger-menu-svgrepo-com.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: center;
  color: white;
  padding: 0.8rem 0.5rem 0.8rem 0.5rem;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  border-radius: 0.625rem;
  max-width: 50px;
  max-height: 50px;
  height: auto;
  width: 100%;
}
.dropdown-content a::after{
  content: "";
  display: block;
  width: 60%;
  height: 2px;
  background: linear-gradient(
    to right,
    rgba(51, 204, 204, 1) 30%, rgba(51, 204, 204, 0) 100%, rgba(51, 204, 204, 0) 0%);
  bottom: -4px;
  z-index: -1;
}
.drop-a-container{
  display: flex;
  flex-direction: column;
  align-items: unset;
  justify-content: left;
  margin-top: 20%;
  gap: 3rem;
  width: 100%;
}
.dropdown {
  position: relative;
  display: inline-block;

  width: 100%;
}
.dropdown:hover {
  position: relative;
  display: inline-block;
  width: 100%;
}
/* Contenido del menú desplegable */
.dropdown-content {
  position: static;
  width: 100vw;
  height: 100vh;
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  text-align: left;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
  display: block;
  color: white;
  text-decoration: none;
  padding-left: 2rem;
}
.dropdown-content:hover a {
  display: block;
  color: white;
  padding-left: 2rem;
  text-decoration: none;
}

/* Mostrar el contenido cuando el usuario pasa sobre el botón del menú */
.dropdown:hover .dropdown-content {
  width: 100%;
  margin-top: -71px;
  padding-top: 30px;
  display: block;
  background-color: #0d0d47;
  z-index: 999;
}

.cv-button{
  display: none;
  color: var(--backgroundColor);
  justify-content: center;
  border: 0;
  border-radius: 0.625rem;
  text-align: center;
  height: 45px;
  padding: 0.5rem 0.75rem 0.5rem 0.75rem;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 500;
  font-size: 1.125rem;  background-color: var(--tittleColor);
}
.cv-button:hover{
  color: white;
  background-color: var(--tittleColor);  
  transition: 0.3s;

}
.cv-button-container-tittle{
  display: flex;
  justify-content: center;
  margin-top: 1.25rem;
}
.cv-button-tiitle{
  display: block;
  color: var(--backgroundColor);
  justify-content: center;
  border: 0;
  border-radius: 10px;
  text-align: center;
  width: 100%;
  height: auto;
  padding: 0.8rem 0.75rem 0.8rem 0.75rem;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 500;
  font-size: 18px;
  background-color: var(--tittleColor);
}
.cv-button-tiitle:active{
  color: white;
  background-color: var(--tittleColor);  
  transition: 0.3s;

}
.intro {
  height: 100vh;
  display: flex;
  justify-content: center;
}
main {
  background-color: var(--backgroundColor);
}
.intro-container {
  width: 90%;
  margin-top: -3.438rem;
  margin-left: 0;
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
}
.intro-text {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  width: 391px;
}
.intro-text p:first-child {
  font-size: 1.125rem;
  text-align: center;
}
.intro-text p:last-child {
  font-size: 1.688rem;
  text-align: center;

}
.intro-text h1 {
  font-size: 3.188rem;
  text-align: center;

}
.intro-img {
  display: none;
  flex-direction: column;
  justify-content: center;
}
.intro-img img {
  display: none;
  }
.about-me {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 3.75rem;
}
.decoration {
  display: none;
  position: absolute;
  left: 0;
  z-index: 1;
  width: 300px;
}

.decoration img {
  transform: rotateY(180deg);
  width: 100%;
}
.decoration2 {
  position: absolute;
  left: 0;
  width: 300px;
}

.decoration2 img {
  transform: rotateY(180deg);
  width: 100%;
}
.about-me-container {
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
  height: auto;
  z-index: 0;
  gap: 30px;
}
.about-me-img {
  order: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.about-me-img div {
  width: 191px;
  height: 191px;
  border-radius: 50%;
  border: #cc6633 solid;
  backdrop-filter: var(--fontColor);
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 0px 0px 16px 6px #cc6633;
  background-position-y: -50px;
}

.about-me-img div img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  
}
section{
  max-width: 1920px;
}

.about-me-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.about-me-text div:first-child {
  font-size: 20px;
}
.about-me-text div:last-child {
  width:80%;
}
.about-me-text div:last-child p {
  line-height: 2rem;
  text-align: center;
}
.skills {
  background-image: url(imgs/decoracion-derecha.png);
  background-repeat: repeat-y;
  background-size: 15rem;
  background-position: right;
  position: relative;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: unset;
  padding-bottom: 60px;
  z-index: 0;
}

.skills-title{
  position: absolute;
}
.skills-container {
  margin-top: 7.813rem;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* justify-content: center; */
  z-index: 2;
}
.area {
  width: 16%;
  gap: 15px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.tecnologias {
  display: flex;
  flex-wrap: wrap;
  width: 125%;
  gap: 40px;
  align-items: center;
  justify-content: center;
}
.tecnologias div {
  width: 49px;
}
.tecnologias div img {
  width: 100%;
}
.decoration-right {
  display: none;
  position: absolute;
  right: 0;
  top: 15%;
  width: 300px;
  z-index: 1;
}
.decoration-right img {
  object-fit: contain;
  width: 100%;
}

.formation {
  background-image: url(/imgs/decoracion-izquierda.png);
  display: flex;
  background-repeat: repeat-y;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10%;
  gap: 60px;
  background-size: 15rem;

  padding-bottom: 3.75rem;
  z-index: 0;
}
.formation-boxes-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  align-items: center;
  gap: 94px 46px;
  width: 60%;
}
.formation-courses-container {
  position: relative;
  width: 204px;
  height: 169px;
  border-radius: 1.5rem;
  display: flex;
  align-items: center;
  box-shadow: 0px 0px 20px 7px #cc663396;
  justify-content: center;
}
.formation-univercity-container {
  position: relative;
  width: 204px;
  height: 169px;
  border-radius: 1.5rem;
  display: flex;
  align-items: center;
  box-shadow: 0px 0px 20px 7px #ffffff63;
  justify-content: center;
}
.fondo {
  width: 100%;
  border-radius: 1.438rem;
  height: 100%;
  position: absolute;
  top: 0;
  object-fit: cover;
}
.formation-text {
  display: flex;
  flex-direction: column;
  width: 85%;
  height: 80%;
  z-index: 1;
}
.formation-footer {
  margin-top: 3.75rem;
}

.formation-text h3 {
  padding-bottom: 0.5;
  font-size: 1.5rem;
}

.formation-p {
  height: 0;
  font-weight: 400;
  font-size: 1rem;
}
.status {
  color: var(--tittleColor);
  text-align: center;
  font-weight: bold;
  position: relative;
}
.status-graduate {
  color: var(--tittleColor);
  padding-top: 1.125rem;
  font-weight: bold;

  text-align: center;
}
.graduate {
  position: relative;
  bottom: 132px;
  right: -140px;
}

.curse {
  position: relative;
  top: 36px;
  right: -140px;
}

.Projects {
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3.438rem;
  z-index: 0;
}
.proyect-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2.813rem;
  justify-content: center;
  width: 100%;
  align-items: center;
}
.proyect-Left {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-left: 0%;
  gap: 10px;
}
.proyect-right {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-left: 0%;
  gap: 10px;
}
.proyect-Left::after{
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  margin-top: 6%;
  background: linear-gradient(
    to right,
    rgba(51, 204, 204, 0) 0%,
    rgba(51, 204, 204, 1) 50%,
    rgba(51, 204, 204, 0) 100%
  );
  bottom: -4px;
  z-index: -1;
}
.proyect-right::after{
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  margin-top: 6%;
  background: linear-gradient(
    to right,
    rgba(51, 204, 204, 0) 0%,
    rgba(51, 204, 204, 1) 50%,
    rgba(51, 204, 204, 0) 100%
  );
  bottom: -4px;
  z-index: -1;
}
.proyect-image-container img{
  border-radius: 0;
}
.texto-tittle{
  text-align: center;
}
.proyect-image-container {
  height: 285px;
  border-radius:0;

}
.proyect-image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.proyect-text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.proyect-text-container p {
  width: 100%;
  font-weight: 500;
  text-align: center;
}
.proyect-text-container h3 {
  font-weight: lighter;
}
.decoration-right-proyect {
  position: absolute;
  right: 0;
  width: 300px;
  top:  0;
}
.decoration-right-proyect img {
  object-fit: contain;
  width: 100%;
}
.decoration-proyect {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 300px;
}

.decoration-proyect img {
  transform: rotateY(180deg);
  width: 100%;
}
.footer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin-top: 2.5rem;
  background-color: black;
}
.footer-logo{
  width: 130px;
}
.footer-line{
  content: "";
  display: block;
  width: 50%;
  background: linear-gradient(
    to right,
    rgba(51, 204, 204, 0) 0%,
    rgba(51, 204, 204, 1) 50%,
    rgba(51, 204, 204, 0) 100%
  );
  height: 2px;
  left: -115px;
}

.footer-text{
  padding-top: 1.313rem;
}
.footer-text p{
  font-weight: bold;
  color: var(--tittleColor);
}

